<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="exportkit.figma" >

	

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		android:label="@string/app_name" >
		<activity
		android:name=".iphone_13___13_pro___1_activity"
		android:configChanges="orientation|keyboardHidden|screenSize"
		android:label="@string/app_name"
		android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

			<activity android:name="exportkit.figma.iphone_13___13_pro___2_activity"></activity>
			<activity android:name="exportkit.figma.iphone_13___13_pro___3_activity"></activity>
			<activity android:name="exportkit.figma.iphone_13___13_pro___4_activity"></activity>
			<activity android:name="exportkit.figma.iphone_13___13_pro___7_activity"></activity>
			<activity android:name="exportkit.figma.iphone_13___13_pro___6_activity"></activity>
			<activity android:name="exportkit.figma.iphone_13___13_pro___5_activity"></activity>
			<activity android:name="exportkit.figma.iphone_13___13_pro___8_activity"></activity>
			<activity android:name="exportkit.figma.iphone_13___13_pro___9_activity"></activity>
	</application>

</manifest>
	
	